.navbar {
  /* background-image: linear-gradient(ivory, rgb(69, 69, 69)); */
  background-color: ivory;
  color: rgb(15, 15, 15);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  height: 4vh;
  width: 100vw;
  display: inline-flex;
}

h1 {
  color: black;
  padding-left: 10px;
  font-family: monospace;
  font-size: xx-large;
  margin-top: auto;
  margin-bottom: auto;
}

h2 {
  font-family: monospace;
  font-size: x-large;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
h3{
  text-align: center;
  color:ivory;
}

img {
  padding: 5px;
  padding-left: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover{
  text-decoration:underline;
}

.pages {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.brand {
  display: flex;
}

.calcTaxForm{
  display:grid;
  grid-row: 3;
  grid-column: 1;
  width:30vw;
  background-color: ivory;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.pageBase{
  display:flex;
  justify-content: center;
  align-items: center;
  height:96vh;
}

.calcTaxSubmitButton{
  width: min-content;
}

.calcTaxSubmit{
  margin:auto;
  margin-top:5px;
  margin-bottom:5px;
}

.yearForm{
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin:auto;
  margin-top:5px;
  margin-bottom:5px;
}

.addressForm{
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin:auto;
  margin-top:5px;
  margin-bottom:5px;
}

.calcTaxContainer{
  border:4px solid;
  border-radius: 20px;
  border-color: ivory;
}


input{
  margin-left:auto;
}